{% extends "_base.html" %}

{% block content %}
  <!-- restaurant pane -->
  <div class="restaurant_tile">
    <div class="container-fluid">
      <div class="row col-md-6">
      <img class="single-rest-image" src="{{restaurants.image_url}}">
      <h1>{{restaurants.name}}</h1>
      <h3>{{restaurants.city}}, {{restaurants.state}}</h3>
      <div class="star-rating" data-rating="{{average}}">{{average}}</div>
        <span class="stars"></span>
        <div class="restarant_description">{{restaurants.description}}</div>
        <div class="cuisine">{{restaurants.cuisine}}</div>
      {% if currentUser.is_admin == true %}
        <table class="table">
          <thead class="thead-inverse">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
          {% for employee in employees %}
            {% if employee.rest_id === restaurants.id %}
              <tr>
                  <td>{{employee.first_name}}</td>
                  <td>{{employee.last_name}}</td>
                  <td>{{employee.title}}</td>
                  <td><button class="btn-small btn-danger" data-id='{{employee.id}}' id='employee_delete'>Delete</button></td>
                  <td><button class="btn-small btn-primary" data-id='{{employee.id}}' id='employee_edit'>Edit</button></td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      <a href="/restaurants/{{restaurants.id}}/edit" class="btn-primary btn">Edit Restaurant</a>
      <button
        <button class="restaurant_delete-btn btn-danger btn" data-id="{{restaurants.id}}">Delete</button>
    {% endif %}
  </div>
  <!-- reviews pane -->
  <div class="review-block col-md-6"</div>
  <h2 class="review_title">Displaying <b>{{reviews.length}}</b>&nbsp;Reviews</h2>
  {% if currentUser.is_admin == false and alreadyReviewed == false %}
    <h4 class="new-review"><a href="/restaurants/{{restaurants.id}}/reviews/{{currentUser.id}}/new">Add New Review</a></h4>
  {% endif %}
  <div class="review_pane">
    <div id="sumnumber_reviews"></div>
    <div class="review-column">
    {% for result in reviews %}
    <div class="single_review">
      {% for i in range (0, result.rating)%}
      <span><i class="fa fa-star" aria-hidden="true"></i></span>
      {% endfor %}
      <br>
      {% for user in users %}
        {% if user.id === result.user_id %}
          <b class="userName" data-userid="{{user.id}}">{{user.first_name}} {{user.last_name.substring(0, 1) + "."}}</b>
        {% endif %}
      {% endfor %}
      <div class="date_review">{{result.created_at|date("MMM DD, YYYY")}}</div>
      <div class="user_review" >{{result.review}}</div>
      {% if currentUser.id === result.user_id and currentUser.is_admin == false %}
        <a href="/restaurants/{{result.rest_id}}/reviews/{{result.user_id}}/edit" class="btn-primary btn btn-sm">Edit Review</a>
        <button href="/restaurants/{{result.rest_id}}/reviews/{{result.user_id}}/delete" class="deleteReview btn-danger btn btn-sm" data-id="{{result.rest_id}}" data-userid="{{result.user_id}}">Delete Review</button>
      {% endif %}
      <hr>
    </div>
    {% endfor %}
    </div>
</div>

</div><br>


{% endblock %}
