{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<body>
<!-- navigation -->
  <nav class="navbar navbar-default" id="nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;&nbsp;Pick Your Pasta</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Home</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="restaurant_tile">
      <img class="picture_url" src="{{restaurants.image_url}}">
      <div class="restaurant_name">{{restaurants.name}}</div>
      <div>
        <div class="restaurant_city">{{restaurants.city}}</div>
        <div class="restaurant_state">{{restaurants.state}}</div>
      </div>
      <div class="star_rating">{{restaurants.rating}}</div>
      <div class="restarant_description">{{restaurants.description}}</div>
      <div class="cuisine">{{restaurants.cuisine}}</div>
      <button class="restaurant_delete-btn" data-id="{{restaurants.id}}">X</button>
  </div>
  <div class="review_pane">
    <div id="sumnumber_reviews"></div>
    {% for review in reviews %}
    <div class="single_review">
      <div class="user_review">{{reviews.review}}</div>
      <div class="stars_review">{{reviews.rating}}</div>
      <div class="date_review">{{reviews.created_at}}</div>
    </div>
    {% endfor %}


{% endblock %}
