{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<body>
<!-- navigation -->
  <nav class="navbar navbar-default" id="nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;&nbsp;Pick Your Pasta</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Home</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="restaurant_section">
  {% for restaurant in restaurants %}
    <div class="restaurant_tile">
        <img class="picture_url" src="{{restaurant.image_url}}">
        <div class="restaurant_name">{{restaurant.name}}</div>
          <div>
            <div class="restaurant_city">{{restaurant.city}}</div>
            <div class="restaurant_state">{{restaurant.state}}</div>
          </div>
          <div class="star_rating">
            
          </div>
        <div class="restarant_description">{{restaurant.description}}</div>
        <div class="cuisine">{{restaurant.cuisine}}</div>
    </div>
  {% endfor %}
</div>

{% endblock %}
