{% extends "_base.html" %}

{% block content %}
  <!-- restaurant pane -->
  <div class="restaurant_tile">
    <div class="container-fluid">
      <div class="row col-md-6">
      <img class="single-rest-image" src="{{restaurants.image_url}}">
      <h1>{{restaurants.name}}</h1>
      <h3>{{restaurants.city}}, {{restaurants.state}}</h3>
      <div class="star-rating" data-rating="{{average}}">{{average}}</div>
        <span class="stars"></span>
        <div class="restarant_description">{{restaurants.description}}</div>
        <div class="cuisine">{{restaurants.cuisine}}</div>
      <button class="restaurant_delete-btn btn-danger btn" data-id="{{restaurants.id}}">Delete</button>
  </div>
  <!-- reviews pane -->
  <div class="review-block col-md-6"</div>
  <h2 class="review_title">Displaying <b>{{reviews.length}}</b>&nbsp;Reviews</h2>
  {% for result in reviews %}
  <h4 class="new-review"><a href="/restaurants/{{result.rest_id}}/reviews/{{result.user_id}}/new">Add New Review</a></h4>
  {% endfor %}
  <div class="review_pane">
    <div id="sumnumber_reviews"></div>
    <div class="review-column">
    {% for result in reviews %}
    <div class="single_review">
      {% for i in range (0, result.rating)%}
      <span><i class="fa fa-star" aria-hidden="true"></i></span>
      {% endfor %}
      <br>
        {% for user in users %}
          {% if user.id === result.user_id %}
            <b class="userName" data-userid="{{user.id}}">{{user.first_name}} {{user.last_name.substring(0, 1) + "."}}</b>
          {% endif %}
        {% endfor %}
      <div class="date_review">{{result.created_at|date("MMM DD, YYYY")}}</div>
      <div class="user_review" >{{result.review}}</div>
      <a href="/restaurants/{{result.rest_id}}/reviews/{{result.user_id}}/edit" class="btn-primary btn btn-sm">Edit Review</a>
      <button href="/restaurants/{{result.rest_id}}/views/{{result.user_id}}/delete" class="deleteReview btn-danger btn btn-sm">Delete</button>
      <hr>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}
