{% extends '_base.html' %}

{% block title %}{% endblock %}

{% block content %}
<body>
<!-- hero -->
  <div class="hero">
      <div class="title">
        <div class="title-font">Pick Your Pasta</div>
        <h2 class="subtitle">The Rotten Tomatoes of Restaurants</h2>
      </div>
    </div>
    <div class="search-bar">
      <div class="row">
        <div class="col-md-6 off col-md-offset-3">
          <form>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="Find the restaraunt you've been looking for">
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary btn-block">Search</button>
            </div>
          </form>
        </div>
      </div>
  </div>
<!-- featured restaurants -->
<div class="col-md-4">
<h2 class="rest-name">The Carter Canyon Restaurant</h2>
<p class="city-state">Johnsonborough, Pennsylvania</p>
<img class="rest-img" src="https://hd.unsplash.com/photo-1464093515883-ec948246accb" alt="PYP"/>
<p class="featured-description">Eos consequatur officia assumenda. Necessitatibus est et numquam earum qui dolores aliquam tempore. Ea corporis minima ut ad qui quo et libero est.</p>
</div>
<div class="col-md-4">
<h2 class="rest-name">The Hermann Row Restaurant</h2>
<p class="city-state">New Lia, Louisiana</p>
<img class="rest-img" src="https://hd.unsplash.com/photo-1453831362806-3d5577f014a4" alt="PYP"/>
<p class="featured-description">Molestiae quo optio vitae ullam quidem aut. Est minima omnis vel aut quisquam laborum dolores quo praesentium. Voluptates repellendus dolores ratione ipsum. Quasi nesciunt optio occaecati sit incidunt eius.</p>
</div>
<div class="col-md-4">
<h2 class="rest-name">TThe Collins Glen Restaurant</h2>
<p class="city-state">Darrionburgh, Colorado</p>
<img class="rest-img" src="https://hd.unsplash.com/photo-1471367029819-38078e88c3fb" alt="PYP"/>
<p class="featured-description">Eos consequatur officia assumenda. Necessitatibus est et numquam earum qui dolores aliquam tempore. Ea corporis minima ut ad qui quo et libero est.</p>
</div>

<!-- footer -->

</body>

{% endblock %}
