{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<body>
<!-- navigation -->
  <nav class="navbar navbar-default" id="nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;&nbsp;Pick Your Pasta</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Home</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="hero">
      <div class="title">
        <h1 class="title-font">Pick Your Pasta</h1>
        <h2 class="subtitle">Informed Eats</h2>
      </div>
    </div>
    <div class="search-bar">
      <div class="row">
        <div class="col-md-6 off col-md-offset-3">
          <form>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="Find the restaraunt you've been looking for">
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary btn-block">Search</button>
            </div>
        </div>
      </div>
          </form>
    </div>

</div>
<h2>Featured Restaraunts</h2>
<h2>Featured Restaraunts</h2>
<h2>Featured Restaraunts</h2>


<!-- footer -->
<footer id="footer">
  <p>&copy; Pick Your Pasta</p>
</footer>
</body>
{% endblock %}
