{% extends '_base.html' %}
{% nav block %}
<nav class="navbar navbar-default" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;Pick Your Pasta</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
