header > h1 {
  font-size: 32px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  padding: 20px;
  font-style: italic;
  text-align: center;
  color: inherit;
}

.restaurant-section {
  margin: 10px;
}

.rest-image {
  width: 370px;
  vertical-align: bottom;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

.single-rest-image {
  width: 400px;
  align-content: left;
  border-radius: 5px;
}

.restaurant-section, h1 {
  font-family: 'Chewy', Arial, sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: #2D2D2D;
}

.restaurant-tile, h1 {
  font-family: 'Chewy', Arial, sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: #2D2D2D;
}

.restaurant-tile, h1 {
  font-family: 'Chewy', Arial, sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: #2D2D2D;
}

.single-review {
  font-family: 'Roboto Slab', Arial, sans-serif;
}

.restaurant-section, h1:hover {
  text-decoration: none;
}

.restaurant-section, h3 {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: -5px;
}

.restaurant-section, p {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 14px;
  text-align: justify
}

@media only screen and (max-width : 767px) {
  .box {
    height: auto !important;
  }
}
