#nav {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}
#footer {
  background-color: black;
  text-align: center;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}
footer p {
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin-top: 2px;
  color: white;
  display: inline;
}
