.review_pane {
  height: 450px;
  text-align: justify;
  align-self: center;
  overflow: scroll;
  margin-bottom: 50px;
}

.btn {
  border-radius: 5px;
  margin-top: 10px;
}

.review_title {
  text-align: center;
}

.new-review > h4 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px dotted black;
}

.review-block .new-review:not(:first-child) {
  display: none;
}
